Cheetah==2.4.4
Flask==0.12.2
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
Flask-Script==2.0.6
Jinja2==2.10
Landscape-Client==14.12
Mako==1.0.7
MarkupSafe==1.0
PAM==0.4.2
PyYAML==3.10
SQLAlchemy==1.2.1
SecretStorage==2.0.0
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
Werkzeug==0.14.1
alembic==0.9.7
amqp==2.2.2
aniso8601==2.0.0
apt-xapian-index==0.45
argparse==1.2.1
billiard==3.5.0.3
blinker==1.4
celery==4.1.0
chardet==2.0.1
click==6.7
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
decorator==3.4.0
docopt==0.6.2
flask-marshmallow==0.8.0
html5lib==0.999
httplib2==0.8
ipython==1.2.1
itsdangerous==0.24
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
kombu==4.1.0
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
marshmallow==2.15.0
marshmallow-sqlalchemy==0.13.2
oauth==1.0.1
pexpect==3.1
pipreqs==0.4.9
prettytable==0.7.2
pyOpenSSL==0.13
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pyserial==2.6
python-apt==0.9.3.5ubuntu2
python-dateutil==2.6.1
python-debian==0.1.21-nmu2ubuntu2
python-editor==1.0.3
pytz==2017.3
redis==2.10.6
requests==2.2.1
rq==0.10.0
simplegeneric==0.8.1
simplejson==3.3.1
six==1.11.0
ssh-import-id==3.21
urllib3==1.7.1
vine==1.1.4
virtualenv==1.11.4
wadllib==1.3.2
webargs==1.8.1
wheel==0.24.0
wsgiref==0.1.2
yarg==0.1.9
zope.interface==4.0.5
